Exploratory analysis

In [ ]:
# Amount of companies in the original DB

In [ ]:
# Nace codes differences
"""
SELECT DISTINCT *
FROM code
WHERE (Category = 'Nace2003' OR Category = 'Nace2008' OR Category = 'Nace2025')
	AND Language = 'FR';
 """

In [ ]:
# Which percentage of companies are under which juridical form?

"""
SELECT
	    enterprise.JuridicalForm AS unique_JuridicalForm,
	    jf_codes.Description AS code_Description,
	    COUNT(*) AS nb_company,
	    ROUND(COUNT(*) * 100.0 / (SELECT count(*) from enterprise), 2) AS pourcentage
	FROM
	    enterprise
	    JOIN (
		    SELECT *
			FROM code
			WHERE Category = 'JuridicalForm' AND Language = 'FR') 
			AS jf_codes ON jf_codes.Code = enterprise.JuridicalForm
	GROUP BY
	    JuridicalForm
	ORDER BY
	    nb_company DESC;
"""

In [ ]:
# Juridical Forms

"""
SELECT DISTINCT
  enterprise.JuridicalForm, code.Description AS Description, COUNT(enterprise.EnterpriseNumber) AS nb_company
FROM
  enterprise
  JOIN code ON code.Code = enterprise.JuridicalForm AND code.Language='FR'
  GROUP BY JuridicalForm
  ORDER BY nb_company DESC;
"""

Creation of the MAIN TABLE

This table will regroup all the needed data - based on the chosen analysis path - in one table.

In [ ]:
"""CREATE TABLE main AS
SELECT 
	enterprise.EnterpriseNumber,
	denom.Denomination AS company_name, 
	ROUND((clss.Nacecode),-4) AS sector,
	address.Zipcode AS province,
	address.Zipcode,
	clss.Classification,
	enterprise.StartDate,
	clss.ActivityGroup AS private_public
	
FROM enterprise
	JOIN 
		(SELECT Classification, NaceCode, EntityNumber, ActivityGroup FROM activity WHERE Classification = 'MAIN') AS clss ON clss.EntityNumber = enterprise.EnterpriseNumber
	JOIN 
		address ON address.EntityNumber = enterprise.EnterpriseNumber
	
	JOIN 
		(SELECT Code, Description, Category FROM code WHERE Language = 'FR' AND Category = 'ActivityGroup') AS cd ON cd.Code = clss.ActivityGroup
	JOIN 
		(SELECT Denomination, EntityNumber FROM denomination WHERE TypeOfDenomination = 1) AS denom ON denom.EntityNumber = EnterpriseNumber
	
	
ORDER BY address.Zipcode

LIMIT 20
;


-- certification ip203 : data engineering on Microsoft Azure"""

Transforming data in new columns

SUMMARY TABLES

Each table is meant to answer to one specific question